@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #121e24;
}

body {
 
  background: #fff;
  font-size: 1.2em;
  display: grid;
  justify-items: center;
  align-items: center;
}

h1 {
    font-size: 4rem;
    font-weight: 300;
}

input {
    appearance: none;
    border-style: none;
    padding: 1rem 2rem;
    letter-spacing: 1px;
    outline: none;
}

input[type=button] {
    background: #0078b4;
    border: 1px solid #0078b4;
    
    color: #fff;
    text-transform: uppercase;
    height: 5rem;
    line-height: 1.5;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 2em;
    cursor: pointer;
    transition: background-color 0.2s;
}

input[type=button]:hover {
    background-color: #00689c;
}

input[type=file] {
    display: none;
}

.custom-file-input {
    color: #0078b4;
    text-transform: uppercase;
    height: 5rem;
    line-height: 1.5;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 2em;
    cursor: pointer;
    appearance: none;
    border-style: none;
    padding: 1rem 2rem;
    letter-spacing: 1px;
    outline: none;
    border: 2px solid #0078b4;
    margin: 3rem 3rem 0 0;
    transition: background-color 0.2s;
}

.custom-file-input:hover {
    background-color: #f2f8fb;
}

table {
  display: flex;
  flex: 1;
  width: 100%;
  text-align: center;
  
  border-collapse: collapse;
  font-size: 14px;
}

table tr:first-child td {
  background: black;
 
  color: #fff;
}

tr td {
  padding: 10px;
  border: 1px black solid;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

/* add signature and room # info to table */

table tbody tr:first-child td:nth-child(8) {
   padding: 0 5em;
}

table tbody tr:first-child td:nth-child(8):before {
   content: "Signature";
}

table tbody tr:first-child td:nth-child(9):before {
   content: "Room #";
}

/* header labels */


@media print {
  
   
    @page
   {
    size: 11in 8.5in;
    size: landscape;
  }

  input {
      display: none;
  }

  .custom-file-input {
      display: none;
  }
  
    }
    